{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acc_retirement_organisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acc_retirement_organisation.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ acc_retirement_organisation.designation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('retirementorganism_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('retirementorganism_edit', { 'id': acc_retirement_organisation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
